<div class="mail"> Hi <%= @user.name %>,
<span style="pading:5px">Now you can use the follwing credentails for accessing calamp listener</span>
Login Information 
<span style="10px">Email    : <%= @user.email%>
<a>Use this link</a>
</span>

<span style="padding-left:20px">
Regards<br>
Support Team<br>
<b style="padding-left:10px">Calamp Listener</b>
</span>
</div>
