<h2>UDP server logs</h2>

<table class='table table-striped'>
  <thead>
    <th>#</th>
    <th>Received Date</th>
    <th>Message</th>
  </thead>
  <tbody>
  <%
    index = 0
    @logs.each do |log|
  %>
    <tr>
      <td><%= (index +=1) %></td>
      <td><%= l log.created_at %>
      <td><%= link_to (truncate log.received_data.inspect, :length => 110), log_path(log) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan='3'><%= will_paginate(@logs, :renderer => WillPaginate::ActionView::LinkRenderer) %></td>
  </tr>
 </tbody>
</table>
